<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c1da278c-8efb-4f1c-afcf-b8d0fc1c5822/resourceGroups/RGCifo/providers/Microsoft.ContainerRegistry/registries/AuthorizationAPI20231003185050</ResourceId>
    <ResourceName>AuthorizationAPI20231003185050</ResourceName>
    <ResourceGroup>RGCifo</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://authorizationapi20231003185050.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fbac48d8-1f29-4266-b3b3-ddd620ea2635</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>